<p><h3>Hello {{username}}</h3>>,</p>

<p>
    For more than 135 years, NCR has lived by a core value to "treat every customer like they are our only customer." This enduring value guides us as we face the difficult challenge of responding to the coronavirus (COVID-19).
</p>
<p>
    In January, we established a multi-functional coronavirus response task force and are following the current guidance from government and local health authorities.

</p>

<p>

    To prevent the spread of COVID-19:<br />
    Clean your hands often. Use soap and water, or an alcohol-based hand rub.<br />
    Maintain a safe distance from anyone who is coughing or sneezing.<br />
    Don’t touch your eyes, nose or mouth.<br />
    Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.<br />
    Stay home if you feel unwell.<br />
    If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.<br />
    Follow the directions of your local health authority.<br />
</p>
<p>Best Regards,</p>
<p>Achyut Babu</p>
